///////////////////////// СИНТАКСИС /////////////////////////
/*
$bgColor: #f58888;  //создание переменной
$blockWidth: 30%;
$border: 5px solid green;

* {
  padding: 0;
  margin: 0;
}

.block:not(.first){
  background: $bgColor;
  height: 200px;
  width: $blockWidth;
  border: $border;
  margin-bottom: 20px;
}*/

///////////////////////// ВЛОЖЕННЫЕ СТИЛИ /////////////////////////
/*
$bgColor: #cccccc;  //создание переменной
$blockWidth: 300px;
$border: 2px solid silver;

* {
  padding: 0;
  margin: 0;
}

#central-block{
  padding: 30px;

  ul{
    list-style: none;
    display: inline-block;
    li{
      float:left;
    }
  }
  a{
    color: blue;
  }
}


.block{
  background: $bgColor;
  height: 200px;
  width: $blockWidth;
  border: $border;
  margin-bottom: 20px;
}
*/

///////////////////////// ИСПОЛЬЗОВАНИЕ МИКСИНОВ /////////////////////////

$bgColor: #cccccc;  
$blockWidth: 300px;
$border: 2px solid silver;

* {
  padding: 0;
  margin: 0;
}

#central-block{
  padding: 30px;

  ul{
    list-style: none;
    display: inline-block;
    li{
      float:left;
    }
  }

  a{
    color: blue;
  }
}


.block{
  background: $bgColor;
  height: 200px;
  width: $blockWidth;
  border: $border;
  margin-bottom: 20px;
}






