///////////////////////// СИНТАКСИС /////////////////////////
/*
$bgColor: #f58888;  //создание переменной
$blockWidth: 30%;
$border: 5px solid green;

* {
  padding: 0;
  margin: 0;
}

.block:not(.first){
  background: $bgColor;
  height: 200px;
  width: $blockWidth;
  border: $border;
  margin-bottom: 20px;
}*/

///////////////////////// ВЛОЖЕННЫЕ СТИЛИ /////////////////////////
/*
$bgColor: #cccccc;  //создание переменной
$blockWidth: 300px;
$border: 2px solid silver;

* {
  padding: 0;
  margin: 0;
}

#central-block{
  padding: 30px;

  ul{
    list-style: none;
    display: inline-block;
    li{
      float:left;
    }
  }
  a{
    color: blue;
  }
}


.block{
  background: $bgColor;
  height: 200px;
  width: $blockWidth;
  border: $border;
  margin-bottom: 20px;
}
*/

///////////////////////// ИСПОЛЬЗОВАНИЕ МИКСИНОВ /////////////////////////
/*
$bgColor: #cccccc;  
$blockWidth: 300px;
$border: 2px solid silver;

* {
  padding: 0;
  margin: 0;
}

@mixin font ($color, $fontW){  //создание миксина
  font-size: 1.1em;
  font-weight: $fontW;
  font-family: arial, sans-serif;
  color: $color;
}

@mixin padd ($padding...){
  padding: $padding;
}

#central-block{
  padding: 30px;

  ul{
    list-style: none;
    display: inline-block;
    li{
      float:left;
    }
  }

  a{  
    @include font ($color: blue, bold);  //подключение миксина
  }
}


.block{
  @include padd(20px 40px);
  background: $bgColor;
  height: 200px;
  width: $blockWidth;
  border: $border;
  margin-bottom: 20px;
}
*/

///////////////////////// ПСЕВДОКЛАССЫ И ИМПОРТИРОВАНИЕ ДАННЫХ /////////////////////////

$bgColor: #cccccc;  
$blockWidth: 300px;
$border: 2px solid silver;

* {
  padding: 0;
  margin: 0;
}

@mixin font ($color, $fontW){  //создание миксина
  font-size: 1.1em;
  font-weight: $fontW;
  font-family: arial, sans-serif;
  color: $color;
}

@mixin padd ($padding...){
  padding: $padding;
}

#central-block{
  padding: 30px;

  ul{
    list-style: none;
    display: inline-block;
    li{
      float:left;
    }
  }

  a{  
    @include font ($color: blue, $fontW:bold);  //подключение миксина
  }
}


.block{
  @include padd(20px 40px);
  background: $bgColor;
  height: 200px;
  width: $blockWidth;
  border: $border;
  margin-bottom: 20px;
}

