@charset "UTF-8";
/*
$bgColor: #f58888;  //создание переменной
$blockWidth: 30%;
$border: 5px solid green;

* {
  padding: 0;
  margin: 0;
}

.block:not(.first){
  background: $bgColor;
  height: 200px;
  width: $blockWidth;
  border: $border;
  margin-bottom: 20px;
}*/
/*
$bgColor: #cccccc;  //создание переменной
$blockWidth: 300px;
$border: 2px solid silver;

* {
  padding: 0;
  margin: 0;
}

#central-block{
  padding: 30px;

  ul{
    list-style: none;
    display: inline-block;
    li{
      float:left;
    }
  }
  a{
    color: blue;
  }
}


.block{
  background: $bgColor;
  height: 200px;
  width: $blockWidth;
  border: $border;
  margin-bottom: 20px;
}
*/
/*
$bgColor: #cccccc;  
$blockWidth: 300px;
$border: 2px solid silver;

* {
  padding: 0;
  margin: 0;
}

@mixin font ($color, $fontW){  //создание миксина
  font-size: 1.1em;
  font-weight: $fontW;
  font-family: arial, sans-serif;
  color: $color;
}

@mixin padd ($padding...){
  padding: $padding;
}

#central-block{
  padding: 30px;

  ul{
    list-style: none;
    display: inline-block;
    li{
      float:left;
    }
  }

  a{  
    @include font ($color: blue, bold);  //подключение миксина
  }
}


.block{
  @include padd(20px 40px);
  background: $bgColor;
  height: 200px;
  width: $blockWidth;
  border: $border;
  margin-bottom: 20px;
}
*/
/*
@import "variables";
@import "mixins";

* {
  padding: 0;
  margin: 0;
}

#central-block{
  padding: 30px;

  ul{
    list-style: none;
    display: inline-block;
    li{
      float:left;
    }
  }

  a{  
    @include font ($color: blue, $fontW:bold);  

    &:hover{    //добавление псевдокласса через амперсант
      color: red;
    }
  }
}

a{
  @include link(blue, white, green, rgb(44, 255, 192))
}

.block{
  @include padd(20px 40px);
  background: $bgColor;
  height: 200px;
  width: $blockWidth;
  border: $border;
  margin-bottom: 20px;
}

*/
* {
  padding: 0;
  margin: 0;
}

#central-block {
  padding: 30px;
}
#central-block ul {
  list-style: none;
  display: inline-block;
}
#central-block ul li {
  float: left;
}
#central-block a {
  font-size: 1.1em;
  font-weight: bold;
  font-family: arial, sans-serif;
  color: blue;
}
#central-block a:hover {
  color: red;
}

a {
  color: blue;
}
a:hover {
  color: white;
}
a:active {
  color: green;
}
a:visited {
  color: #2cffc0;
}

.block {
  padding: 20px 40px;
  background: #cccccc;
  height: 200px;
  width: 300px;
  border: 2px solid silver;
  margin-bottom: 20px;
}